# Ejercicios de la 1ª evaluación
### Énfasis especial en colecciones de datos

----

Este examen se evaluará de tal forma que se vea la maestría del alumno sobre Python. Esto se ve no solamente con el código bien elaborado, sino con comentarios sobre el código. Se debe demostrar los conocimientos adquiridos en clase.

Se evaluará:
- Que se haya llegado a una solución (50%)
- Que se haya llegado a soluciones creativas, no en todas las preguntas, sino en aquellas en las que sea apropiado, mostrando una forma alternativa de resolver un apartado (10%)
- Que se haya resuelto únicamente de una forma no vista en clase (-30%)
- Que se explique cada paso con comentarios en el código de forma clara, concisa y ordenada (es decir, que se comprenda bien el código) (20%)
- Ejercicios de Markdown (20%)

Acuérdate que solo se aceptan entregas en formato html

![imagen](img/ejercicios.png)

Estructura del examen y su respectiva evaluación correspondiente a la mera resolución (sin incluir puntos por claridad, resoluciones alternativas, etc...)

- 2 ejercicios de Markdown (20% de la nota)
- 5 ejercicios de listas (10% de la nota) 
- 4 ejercicios de tuplas (10% de la nota) 
- 3 ejercicios de colecciones en general (10% de la nota)  
- 3 ejercicios de diccionarios  (10% de la nota) 
- 1 ejercicio de set (10% de la nota)

## Ejercicio Markdown I

Crea una tabla que explique los cuatro principales tipos de colecciones de datos de Python, con sus características básicas que nos permita saber la particularidad de cada colección con respecto a las otras.

|Tipo colección|Léxico|Clave|Mutable|Cómo se crea|
|--|--|--|--|--|
|Listas|[...]|Orden|Sí|list() o []|
|Tuplas|(...)|Orden|No|tuple() o (,)|
|Diccionarios|{key:value}|Key aportada|Sí|dict() o {}|
|Sets|{...}|Valor|Sí, pero sus elementos no|set()|

## Ejercicio Markdown II

Escriba un hipervínculo de la documentación de Python que explique el método "range()". Al clickar sobre el hipervínculo debe llevar a la página web indicada.

[range method Python official doc](https://docs.python.org/3/library/functions.html#func-range)

-----

## Ejercicio 1 | Listas

Crea la siguiente lista a partir de la función "range()" y llámala "ejer_1_1"
> ```[1,2,3,4,5]```

Inviérte la lista "ejer_1_1" por medio de un método para que quede de la siguiente manera
> ```[5,4,3,2,1]```

Crea la siguiente lista a partir del método "range()" y llámala "ejer_1_2"
> ```[4, 3, 2, 1, 0, -1]```

In [3]:
# 1
ejer_1_1 = list(range(1,6))
ejer_1_1

[1, 2, 3, 4, 5]

In [4]:
# 2 | Para invertir la lista "ejer_1_1" sin crear una lista nueva, entonces utilizamos un método
ejer_1_1.reverse()
ejer_1_1

[5, 4, 3, 2, 1]

In [8]:
# 2 alternativa | La función "sorted()" no altera la lista al ser una función, por lo que habría que renombrarla
ejer_1_1 = sorted(ejer_1_1, reverse=True)
ejer_1_1

[5, 4, 3, 2, 1]

In [9]:
# 3 | Aquí es fundamental utilizar el parámetro "step" de la función "range()"
ejer_1_2 = list(range(5,-2, -1))
ejer_1_2

[5, 4, 3, 2, 1, 0, -1]

## Ejercicio 2 | Listas
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = ['1','2','3','4','5']```

In [15]:
ejer_2 = ['1','2','3','4','5']
ejer_2_1 = []

# Resolvemos mediante un bucle for creando una lista nueva

for i in ejer_2:
    i = int(i) # Es necesario convertir el valor de string a float
    ejer_2_1.append(i ** 2) 

ejer_2_1

[1, 4, 9, 16, 25]

In [21]:
ejer_2 = ['1','2','3','4','5']

# Resolvemos mediante un bucle for sin crear una lista nueva

for idx, value in enumerate(ejer_2):
    value = int(value) # Es necesario convertir el valor de string a float
    ejer_2[idx] = value ** 2
ejer_2

[1, 4, 9, 16, 25]

In [16]:
# Modo alternativo | Mediante list comprehensions

ejer_2_1 = [int(i)**2 for i in ejer_2]
ejer_2_1

[1, 4, 9, 16, 25]

## Ejercicio 3 | Listas

Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [26]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]
ejer_3_3 = list()

# Resolución mediante bucle for
for i in ejer_3_1:
    for j in ejer_3_2:
        ejer_3_3.append(i + ' ' + j)

ejer_3_3

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [28]:
# Resolución mediante list comprehension

[f"{i} {j}" for i in ejer_3_1 for j in ejer_3_2]

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

## Ejercicio 4 | Listas

Dada la siguiente lista, encuentra el índice del valor 45 y, a partir de su índice, sustitúye el 45 por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [31]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

# Mediante el método "index()"
where_45 = ejer_4.index(45)
ejer_4[where_45] = 0
ejer_4

[20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5 | Listas

Dada la siguiente lista:
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 47, 45, 67, 78, 90, 3, 3]```

1. Elimina todos los valores iguales a 3
2. Elimina todos los valores duplicados

TIP: Recuerda que vas a tener un problemón si intentes eliminar elementos sobre la lista que estás iterando. Para evitarlo, recuerda hacer una copia con el método copy().

In [37]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

# 1
# Utilizamos un bucle "while" dado que el método "remove()" elimina el primer valor que encuentre, no el resto
while 3 in ejer_5:
    ejer_5.remove(3)
ejer_5

[20, 47, 19, 29, 45, 67, 78, 90]

In [40]:
# 1
# Mediante bucle for
ejer_5_1 = list()

for i in ejer_5:
    if i != 3:
        ejer_5_1.append(i)

ejer_5_1

[20, 47, 19, 29, 45, 67, 78, 90]

In [38]:
# 1
# Se puede resolver mediante list comprehensions

[i for i in ejer_5 if i != 5]

[20, 47, 19, 29, 45, 67, 78, 90]

In [74]:
# 2
ejer_5_1 = list(set(ejer_5_1))
ejer_5_1

[67, 45, 78, 47, 19, 20, 90, 29]

-----

## Ejercicio 6 | Tuplas

Resuelve cada uno de estos 7 enunciados en una celda diferente:

1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [66]:
# 1
ejer_6_1 = (3, 4, 5)
ejer_6_1

(3, 4, 5)

In [65]:
# 2
ejer_6_2 = (3,)
type(ejer_6_2)

tuple

In [64]:
# 3
ejer_6_3 = (7, '7', 7.0, True, [4, 5])
type(ejer_6_3)

tuple

In [70]:
# 4
print(ejer_6_3[0])
print(ejer_6_3[-1])
print(ejer_6_3[len(ejer_6_3)-1])

7
[4, 5]
[4, 5]

In [72]:
# 5
ejer_6_5 = ejer_6_3 + (3,)
ejer_6_5

(7, '7', 7.0, True, [4, 5], 3)

In [79]:
# 6 y 7
ejer_6_6 = list(ejer_6_5)
ejer_6_6.pop(int(len(ejer_6_6)/2))
ejer_6_6 = tuple(ejer_6_6)
ejer_6_6

(7, '7', 7.0, [4, 5], 3)

## Ejercicio 7 | Tuplas y Strings

Concatena todos los elementos de la tupla en un unico string. Para ello utiliza un [metodo de Strings](https://www.w3schools.com/python/python_ref_string.asp), que unifique elementos de un iterable a un mismo string.
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [82]:
ejer_7 = ("cien", "cañones", "por", "banda")

' '.join(ejer_7)

'cien cañones por banda'

## Ejercicio 8 | Tuplas

Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [85]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)

print(ejer_8[2])
print(ejer_8[-3])

3
90

## Ejercicio 9 | Tuplas

1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [86]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

# 1
ejer_9.count(3)

7

In [88]:
# 2
ejer_9_1 = ejer_9[4:10]
ejer_9_1

(19, 3, 29, 45, 67, 78)

-----

## Ejercicio 10 | Colecciones

Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [89]:
60 in ejer_9

False

## Ejercicio 11 | Conversión de colecciones

1. Convierte la tupla del apartado 9 en una lista
2. Convierte la tupla del apartado 9 en un set
3. Convierte la tupla del apartado 9 en un diccionario. Para ello, usa los indices como keys

In [95]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

# 1
ejer_11_1 = list(ejer_9)
type(ejer_11_1)

list

In [96]:
# 2
ejer_11_2 = set(ejer_9)
ejer_11_2

{2, 3, 4, 5, 6, 7, 9, 19, 20, 29, 45, 47, 67, 78, 90}

In [100]:
# 3
ejer_11_3 = {}

for i in range(len(ejer_9)):
    ejer_11_3[i] = ejer_9[i]

type(ejer_11_3)

dict

In [101]:
# 3
ejer_11_3 = {}

for idx, val in enumerate(ejer_9):
    ejer_11_3[idx] = val

type(ejer_11_3)

dict

## Ejercicio 12 | Conversión de colecciones y Bucles

Convierte la siguiente lista de tuplas en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

Output esperado: ```{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas, tal que: ```for i,j in ejer_12:```

TIP: Puedes usar el método "get" de los dictionarios, para obtener un valor en el caso de que exista, o devolver otro en caso de que no exista

In [106]:
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

dic = {}
for i,j in ejer_12: 
    my_list = dic.get(i, [])
    my_list.append(j)
    dic[i] = my_list

print(dic)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [1]:
# Solución alternativa

ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

dic = {}
for i,j in ejer_12: 
    if i in dic:  # Comprobamos si la clave (i) ya existe en el diccionario
        dic[i].append(j) # Si la clave existe, añadimos el valor (j) a la lista existente
    else:
        dic[i] = [j] # Si la clave no existe, creamos una nueva entrada en el diccionario con la clave (i) y valor

print(dic)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [6]:
# Forma alternativa

ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

dic = {}
for i,j in enumerate(ejer_12): 
    dic.setdefault(j[0], []).append(j[1])

print(dic)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

----

## Ejercicio 13 | diccionarios

Dado el siguiente diccionario:
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor. Por ej: la clave nueva puede ser 9 y el valor 65.
4. Busca la clave con el valor de 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for. Aquí es clave el método que uses

In [3]:
ejer_13 = {4:78, 2:98, 8:234, 5:29}

# 1
sorted(list(ejer_13.keys()), reverse=False)

[2, 4, 5, 8]

In [115]:
# 2
sorted(list(ejer_13.values()), reverse=True)

[234, 98, 78, 29]

In [116]:
# 3
ejer_13[9] = 65
ejer_13

{4: 78, 2: 98, 8: 234, 5: 29, 9: 65}

In [4]:
# 4
ejer_13[2]

98

In [119]:
# 5
for i,j in ejer_13.items():
    print(i, j)

4 78
2 98
8 234
5 29
9 65

## Ejercicio 14 | diccionarios

Suma todos los valores del dicionario
> ```ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [120]:
ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

sum(ejer_14.values())

165

## Ejercicio 15
Multiplica todos los valores del diccionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [122]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
a = 1

for i in ejer_15.values():
    a = a * i

print(a)

19326120

------

## Ejercicio 16 | sets

1. crea un set vacío
2. Crea un set de tres elementos
3. Añade un cuarto
4. Elimina el último elemento añadido
5. Elimina el elemento 10, si está presente. Usa `discard()`

In [ ]:
# 1
ejer_16_1 = set()

In [123]:
# 2
ejer_16_2 = {3, 4, 5}

In [124]:
# 3
ejer_16_2.add(6)
ejer_16_2

{3, 4, 5, 6}

In [125]:
# 4
ejer_16_2.remove(6)

In [127]:
# 5
ejer_16_2.discard(10)

-----------------

Recuerda entregar el notebook en formato html. Puedes hacerlo con la librería "nbconvert" desde el cmd en la ruta del documento que quieres transformar de ipynb a html:

> jupyter nbconvert --to html --execute examen_ev.ipynb